*~
._*
*.ali
*.o
*.db
*.out
*.log.*
*log.200*
*.orig
*.patch
**b~*
bin/
obj/
*.obj
\#*
.\#*
*.log
*.ncb
*.user
*.idb
*.dep
*.suo
**/.vs/
**/out/
**/output/
**/Models/
**/Scans/
**/Lib/
**/Screenshots/
.idea
